[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
unico = { git = "https://github.com/unico-it/unico-python.git", ref = "main" }

[dev-packages]

[requires]
python_version = "3.11"
